name: release
permissions:
  contents: read
env:
  commit_msg: ""
on:
  push:
    tags:
      - "*"
jobs:
  # Publish project package(s)
  publish:
    name: publish package
    runs-on: ubuntu-latest
    permissions:
      contents: write # required to write a new release
    timeout-minutes: 10
    if: startsWith(github.ref, 'refs/tags/')
    steps:
      # Harden workflow runner
      - name: Harden workflow runner (audit all outbound calls)
        uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with:
          egress-policy: audit

      # Checkout code
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      # Configure runner environment
      - name: Set up runner environment
        run: ./.github/workflows/assets/utils.sh setup
        env:
          GITHUB_USER: ${{ github.actor }}
          ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}

      # Get commit message
      - name: Get commit message
        run: |
          echo 'commit_msg<<EOF' >> $GITHUB_ENV
          git log --format=%B -n 1 ${{ github.sha }} >> $GITHUB_ENV
          echo 'EOF' >> $GITHUB_ENV

      # Go
      - name: Set up Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          cache: false
          go-version: 1.24.x

      # Use goreleaser to create the new release
      # https://github.com/goreleaser/goreleaser-action
      - name: Create release
        uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a # v6.4.0
        if: startsWith(github.ref, 'refs/tags/')
        with:
          version: latest
          args: release --clean --skip=validate
        env:
          # https://docs.github.com/en/free-pro-team@latest/actions/reference/authentication-in-a-workflow
          GITHUB_TOKEN: ${{ secrets.ACCESS_TOKEN }}
          # Login of the user that initiated the workflow run
          GITHUB_USER: ${{ github.actor }}
